*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #313131;
}
.stream{
    text-align: center;
    display: none;
    padding: 17px 19px;
    font-size: 55px;
    background-color: #1f1f1f;
    font-family: sans-serif;
    color: white;
}
.stream span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: red;
    font-size: 55px;
}
.nav{
    overflow: hidden;
    background-color: #313131;
}
.nav a{
    text-decoration: none;
    display: block;
    float: left;
    padding: 14px 16px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}
.nav a:not(:first-child){
    padding-top: 19px;
}
.nav a.icon{
    display: none;
}
.nav a.active{
    font-size: 25px;
    padding-left: 120px;
    padding-right: 20%;
    cursor:default;
}
.nav a.active span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 25px;
}
.nav a:not(:first-child):hover{
    color: rgb(20, 199, 175);
}
@media screen and (max-width:932px) {
    .nav a:not(:first-child){
        display: none;
    }
    .nav a.icon{
        display: block;
        float: right;
    }
    .stream{
        display: block;
    }
    .nav a.active{
        margin: 0;
        padding: 14px 16px;
    }
}
@media screen and (max-width:932px) {
    .nav.responsive a{
        display: block;
        float: none;
    }
    .nav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 100px;
    }
    .nav a:not(:first-child):hover{
        color: black;
        background-color: white;
    }
}

/* slider~~~~~~~~*/

 .image1{
    overflow: hidden;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.171), 0 6px 20px 0 #31313100;
 }
 .image1 .fig{
    position: relative;
    width: 500%;
    height: 135vh;
    margin: 0;
    animation: 30s fade infinite;
 }
 @media screen and (max-width:870px) {
     .image1 .fig{
         height: auto;
     }
 }
 .image1 .fig .img{
    width: 20%;
    height: 100%;
    float: left;
 }
 .image1 .fig .img img{
    width: 100%;
    height: 100%;
    float: left;
 }
 .slider{
    width: 100%;
    height: 100vh;
 }
 @keyframes fade{
    0%{
       left: 0;
    }
    20%{
       left: 0;
    }
    30%{
       left: -100%;
    }
    45%{
       left: -100%;
    }
    50%{
       left: -200%;
    }
    70%{
       left: -200%;
    }
    80%{
       left: -100%;
    }
    100%{
       left: -100%;
    }

 }
 .about{
     padding: 200px 0 0 135px;
    position: absolute;
    color: white;
    width: 5.5%;
    height: 100%;
    background-color: #313131;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 100px 100px 150px 100px #313131;
    
 }

 .about .text1{
    background-color: rgb(255, 251, 0);
    display: inline-block;
    padding: 2px 10px;
    font-family: sans-serif;
    color:#313131fb;
    font-size: 23px;
    border-radius: 5px;
 }
 .about .text2{
     
    margin-top: 50px;
     font-size: 100px;
     font-family:sans-serif;
 }
 .about .text3{
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
     font-weight: 100;
     letter-spacing: -0.3px;
 }
 .about .text3 span{
     padding-left: 15px;
 }
 .about .text4 {
     margin-top: 50px;
     font-family:sans-serif;
     width: 400px;
     font-size: 17px;
     letter-spacing: 1px;
 }
 .about .text5{
     margin-top: 50px;
     background-color: red;
     border: 1px solid rgba(255, 0, 0, 0);
     padding: 10px 30px;
     font-size: 20px;
     color: white;
     font-family: sans-serif;
     font-weight: 800;
     transition: background-color 1s;
 }
 .about .text5:hover{
     background-color: white;
     color: red;
     font-weight: 800;
     cursor: pointer;
 }

 .content{
    display: block;
    margin-top: 35vh;
    background-color: rgba(255, 255, 224, 0);
 }
 .content .cont{
     color: white;
 }
 @media screen and (max-width:870px) {
    .slider{
        height: auto;
    }
    .about{
        background-color: #3131319a;
        box-shadow: none;
        padding: 0;
        margin: 0;
        font-size: 8px;
        height: 100%;
        width: 100px;
        position: relative;
        display: none;
        
    }
    .content{
        margin-top: 0;
    }

}
.popular1,.popular2{
    display: block;
    margin: 5px 10px 0 10px;
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}
.cont1 h2{
    padding-top: 50px;
    padding-left: 10px;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 23px;
}
.cont1 hr{
    margin-top: 5px;
    margin-left: 10px;
    opacity: 0.7;
    margin-bottom: 30px;

}
.popular1 .film,.popular2 .film{
    display: block;
    width: 310px;
    padding: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popular1 .film img,.popular2 .film img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popular1 .film img:hover,.popular2 .film img:hover{
    transform: translateX(0px) translateY(-10px);
}
.popular1 .film .test02_1,.popular2 .film .test02_1{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}
.popular1 .film .test02_2,.popular2 .film .test02_2{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}


.read{
    text-decoration: none;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    position: relative;
    top: -20px;
}


.trending{
    margin: 5px 10px 0 10px;
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}
.cont2 h2{
    padding-top: 70px;
    padding-left: 10px;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 23px;
}
.cont2 hr{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    opacity: 0.7;
    margin-bottom: 30px;

}
.trending .film{
    width: 310px;
    display: block;
    float: left;
    padding: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trending .film img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trending .film img:hover{
    transform: translateX(0px) translateY(-10px);
}
.trending .film .test02_1{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}
.trending .film .test02_2{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    color: a;

    font-family:Arial, Helvetica, sans-serif;
}

.last{
    background-color: #1f1f1f;
    padding-bottom: 90px;
}
.suggested{
    display: block;
    margin: 5px 10px 0 10px;
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    
}
.last h4{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 15px 0 0 0;
}
.last h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0 10px 0;
}

.suggested .film{
    width: 210px;
    display: block;
    float: left;
    padding: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.suggested .film img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.suggested .film img:hover{
    transform: translateX(0px) translateY(-10px);
}
.suggested .film .test02_1{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 15px;
}
.suggested .film .test02_2{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    color: aliceblue;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

/* Footer*/

.footercontent{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footercontent .first{
    padding: 20px 50px 20px 0;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}
.footercontent .first h2{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 75px;
    padding-bottom: 20px; 
}
.footercontent .first p, label{
    padding: 5px; 
    color: gold;
    font-family: sans-serif;
}
h2 .spann{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: red;
}
.sec{
    margin: 10px;
    padding: 20px 50px 20px 0; 
}
.sec h2{
    font-size: 25px;
    font-family:sans-serif;
    color: aliceblue;
    padding-bottom: 10px;
}

.sec li{
    list-style-type: none;
    padding: 5px;
    
}
.sec li a{
    color: rgba(240, 238, 238, 0.938);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}


.copy{
    background-color: black;
    color: white;
    padding: 20px 0 20px 0px;
}
.copy p{
    font-family: sans-serif;
}

@media screen and (max-width:740px) {
    .footercontent .first h2{
        font-size: 40px;
    }
    .sec h2{
        font-size: 15px;
    }
    .sec li a{
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width:498px) {
    .footercontent{
        
    }
    .footercontent .first{
        padding: 0 0 0 0;
        margin-top: 10px;
    }
    .footercontent .first h2{
        font-size: 20px;
        padding-bottom: 20px; 
    }
    .footercontent .first p, label, span{
        padding: 0; 
        font-size: 12px;
    }
    h2 .spann{
        font-size: 17px;
    }
    .sec{
        padding: 0 0 0 0; 
    }
    .sec h2{
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    .sec li{
        padding: 0;
        
    }
    .sec li a{
        font-size: 12px;
    }
    
}